---
layout: handbook-page-toc
title: "Create:Code Creation Group"
description: The Create:Code Creation Group is responsible for all product categories that fall under the Code Creation group of the Create stage.
---

## Mission

Redefine code creation using artificial intellegience. 
Our goal is to empower developers with intelligent code suggestions, 
enhancing their efficiency and enabling them to craft outstanding software.

## Team Members

The following people are permanent members of the Code Creation Team:

<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Code Creation, Create:Code Review', role_regexp: /Code Creation/) %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /Code Creation/, direct_manager_role: 'Backend Engineering Manager, Create:Code Creation, Create:Code Review') %>

## Hiring

Check out our [jobs page](/jobs/) for current openings.

## Common Links

 * Product Categories: [Code Creation](https://about.gitlab.com/handbook/product/categories/#code-creation-group)
 * Direction: [Code Suggestion Direction](https://about.gitlab.com/direction/create/code_suggestions/)
 * Issue Tracker: [GitLab Issue Search](https://gitlab.com/groups/gitlab-org/-/issues/?sort=due_date&state=opened&label_name%5B%5D=group%3A%3Acode%20creation&first_page_size=20)
 * Epics: [Accelerate Code Suggestions Epic](https://gitlab.com/groups/gitlab-org/-/epics/9814) and [general GitLab Epic Search](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=group::code+creation)
 * Slack Channel: [#g_code_suggestions](https://gitlab.slack.com/archives/C048Z2DHWGP)
